<div id="{{id}}" class="popup-wrap">
  <div class="popup" {{#if width}}style="width:{{width}}"{{/if}}>
    <span class="popup-close">+</span>
    <p class="popup-title">{{title}}</p>
    <div class="popup-content">{{{content}}}</div>
  </div>
</div>