{{#each list}}
<li class="crank-item">
    <a href="###" class="crank-link {{className}}">
        <span class="crank-order">{{index}}</span>
        浙BT{{vehicleNumber}}
        <span class="crank-data">{{value}}</span>
    </a>
</li>
{{/each}}