<p class="tci-item">公司：<span class="tci-value">{{corp}}</span></p>
<p class="tci-item">司机：<span class="tci-value">{{name}}</span></p>
<p class="tci-item">电话：<span class="tci-value">{{phone}}</span></p>