.calendar{
  position: absolute;
  left: -999px;
  top: -999px;
  width: 189px;
  padding: 5px;
  background: #fff;
  color: #666;
  font-size: 14px;
  border: 1px solid #42a9e2;
  border-radius: 5px;
  z-index: 99999;

  &-head{
    margin-bottom: 5px;
    padding-bottom: 5px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #bbb;

    %btn{
      width: 15px;
      height: 18px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .prevYear{
      @extend %btn;
      float: left;
      margin-right: 5px;
      background-image: url(prev2.png?__inline);
    }

    .prevMonth{
      @extend %btn;
      float: left;
      background-image: url(prev.png?__inline);
    }

    .nextYear{
      @extend %btn;
      float: right;
      margin-left: 5px;
      background-image: url(next2.png?__inline);
    }

    .nextMonth{
      @extend %btn;
      float: right;
      background-image: url(next.png?__inline);
    }
  }


  &-list{
    overflow: hidden;

    &.dayList{
      cursor: pointer;
    }
  }

  &-item{
    float: left;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border: 1px solid transparent;

    &.today{
      color: #fff;
      background: #42a9e2;
    }

    &.selected{
      border-color: #42a9e2;
    }
  }

  &-time{
    display: flex;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 12px;
    border-top: 1px solid #bbb;

    label{
      flex: 1;
      text-align: center;
    }

    select{
      width: 40px;

      &.disable{
        background: #ddd;
      }
    }
  }

  &-foot{
    margin-top: 5px;
    padding-top: 5px;
    text-align: right;
    border-top: 1px solid #bbb;
  }

  &-btn{
    padding: 3px 10px;
    background: #42a9e2;
    color: #fff;
    font-size: 12px;
    border: 0;
    border-radius: 5px;
  }
}