.toast{
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 200px;
    padding: 3px 10px;
    background: rgba(1, 1, 1, .4);
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    z-index: 99999;
}