.pic-viewer{

  &-wrap{
    position: absolute;
    width: 720px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -360px;
    margin-top: -250px;
    background: rgba(0, 0, 0, .8);
    border-radius: 3px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
    overflow: hidden;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, -20px, 0);
    transition: .3s;

    &.show{
      visibility: visible;
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &:hover{
      .pic-viewer-toolbar{
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &-close{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, .6);
    line-height: 40px;
    text-align: center;
    border: 0;
    border-radius: 50%;
    cursor: pointer;

    &:hover{
      background: #d43f27;
    }

    &:before,
    &:after{
      content: '';
      position: absolute;
      width: 20px;
      height: 4px;
      left: 10px;
      top: 18px;
      background: #fff;
    }

    &:before{
      transform: rotate(45deg);
    }

    &:after{
      transform: rotate(-45deg);
    }
  }

  &-img{
    position: absolute;
    width: 320px;
    height: 240px;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -120px;
    transition: .2s linear;
  }

  &-toolbar{
    position: absolute;
    width: 200px;
    height: 40px;
    bottom: 0;
    left: 50%;
    margin-left: -100px;
    text-align: center;
    background: rgba(0, 0, 0, .8);
    border-radius: 3px 3px 0 0;
    transform: translate3d(0, 100%, 0);
    transition: .3s;
  }

  &-tool{
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent no-repeat center;
    border: 0;

    &.zoom-in{
      background-image: url(images/zoom-in.png?__inline);

      &:hover{
        background-image: url(images/zoom-in-hover.png?__inline);
      }
    }

    &.zoom-out{
      background-image: url(images/zoom-out.png?__inline);

      &:hover{
        background-image: url(images/zoom-out-hover.png?__inline);
      }
    }

    &.rotate{
      background-image: url(images/rotate.png?__inline);

      &:hover{
        background-image: url(images/rotate-hover.png?__inline);
      }
    }
  }

}