<div class="pic-viewer-wrap">
  <button class="pic-viewer-close" type="button">&times;</button>
  <img class="pic-viewer-img" />
  <div class="pic-viewer-toolbar">
    <button class="pic-viewer-tool zoom-in" type="button" title="放大"></button>
    <button class="pic-viewer-tool zoom-out" type="button" title="缩小"></button>
    <button class="pic-viewer-tool rotate" type="button" title="旋转"></button>
  </div>
</div>