<div class="board-block">
    <p class="board-title">日均营运车辆(辆)</p>
    <div id="avgVehicle" class="board-data loading">
        <div class="board-num">0</div>
        <div class="board-percent loading">0%</div>
    </div>
</div>
<div class="board-block">
    <p class="board-title">日均营运时间(小时)</p>
    <div id="avgTime" class="board-data loading">
        <div class="board-num">0</div>
        <div class="board-percent loading">0%</div>
    </div>
</div>
<div class="board-block">
    <p class="board-title">价格(元)</p>
    <p class="board-title-sub">起步价</p>
    <div id="beginPrice" class="board-data loading">
        <div class="board-num">0</div>
        <div class="board-percent loading">0%</div>
    </div>
    <p class="board-title-sub">燃油价</p>
    <div id="baf" class="board-data loading">
        <div class="board-num">0</div>
        <div class="board-percent loading">0%</div>
    </div>
</div>
{{!-- <div class="board-block">
    <p class="board-title">非正常天气</p>
    <div id="weather" class="board-data loading">
        <div class="board-num">0</div>
        <div class="board-percent loading">0%</div>
    </div>
</div> --}}
<div class="board-block">
    <p class="board-title">假期(天)</p>
    <div id="holiday" class="board-data loading">
        <div class="board-num">0</div>
        <div class="board-percent loading">0%</div>
    </div>
</div>