.progress-ring{
    position: relative;
    width: 110px;
    height: 110px;
    background-image: repeating-linear-gradient(-45deg, #fff, #fff 2px, #eee 2px, #eee 4px);
    border-radius: 50%;

    .ring-data{
        position: absolute;
        left: 20px;
        top: 20px;
        width: 70px;
        height: 70px;
        padding: 10px 0;
        background: #fff;
        border-radius: 50%;
        line-height: 1.5;
        box-sizing: border-box;

        .data-num{
            font-size: 18px;
            font-weight: bold;
        }

        .data-percent{
            font-size: 14px;
        }
    }
}
