@import '../base/normalize';
@import '../utils/variables';
@import '../utils/mixins';

body{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-family: Tahoma, Arial, 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-self;
  background: #f5f5f5;

  &.full{
    overflow: hidden;
  }
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,p,dl,dt,dd{
  margin: 0;
}

label{
  cursor: pointer;
}

input,button{
  outline: 0;
}

.content{
  min-width: $minWidth - $widthNav;
  position: absolute;
  top: $heightHeader + $heightSubHeader;
  bottom: $heightFooter;
  left: $widthNav;
  right: 0;
  padding: 20px;
  background: #ebf3f7;
  box-sizing: border-box;
  overflow-y: auto;
  transition: .3s;

  &.full{
    position: static;
    padding: 0;
  }

  &.withoutAside{
    left: 0;
  }
}

.wrap{
  margin-top: 20px;
  overflow: hidden;
  transition: .3s;

  &.full{
    margin-top: 0;
  }
}

.crumbs{
  height: 20px;
  color: $colorCompany;
  font-size: 16px;
  transition: .3s;

  &.full{
    position: absolute;
    transform: translate3d(0, -20px ,0);
  }

  &:before{
    content: '';
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 3px solid $colorCompany;
    border-radius: 50%;
  }

  &:before{
    margin-right: 5px;
  }
}

.state-wrap{
  padding: 20px;
  color: #999;
  @include clearfix;

  &:before{
    content: '';
    float: left;
    width: 46px;
    height: 46px;
    margin-right: 15px;
  }

  &.success:before{
    background: url(../../images/success.png);
  }

  &.fail:before{
    background: url(../../images/fail.png);
  }

  .state-content{
    float: left;
  }

  .state-title{
    font-size: 20px;
  }

  .state-detail{
    max-width: 300px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@import '../layout/header';
@import '../layout/aside';
@import '../layout/footer';
@import '../layout/pager';