$minWidth: 1200px;
$widthNav: 120px;

$heightHeader: 60px;
$heightFooter: 40px;
$heightSubHeader: 24px;

$colorCompany: #317ca6;
$colorCompanyFont: #1f87d3;
$colorBorder: #dfe9f1;
$colorLink: #6fb5e9;

$colorGary: #aaa;
$colorOrange: #ffa800;