{{#each list}}
<div class="pubListPop" data-tid="{{tid}}">
	<div class="invite-title">
		<img src="http://img2.yongxt.com/img2/{{defaultImg}}">
		<span>{{driverName}}</span>
	</div>
	<div class="invite-text">{{memo}}</div>

	<div class="pubListPop-Btn">
    <button type="button" class="pop-btn">确认发送</button>
  </div>
</div>
{{/each}}
