@import '../../static/scss/utils/mixins';
$colorBorder: #dfe9f1;

.message{

  &-wrap{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .6);
    z-index: 1000;
    display: none;

    &.show{
      display: flex;
    }

    &.loading{
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, .5);
        z-index: 10;
      }

      &:after{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -25px;
        border: 5px solid #43aad8;
        border-left-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
        animation: loadingRound .6s infinite linear;
      }
    }
  }

  &-container{
    position: relative;
    margin: auto;
    padding: 3px;
    background: #6fb5e9;
    border-radius: 5px 5px 0 0;
  }

  &-head{
    position: relative;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 16px;

    &-title{
      text-indent: 15px;
    }

    &-close{
      position: absolute;
      top: 8px;
      right: 15px;
      width: 20px;
      height: 20px;
      color: #fff;
      line-height: 20px;
      font-size: 26px;
      transform: rotateZ(45deg);
      cursor: pointer;

      &:hover{
        color: darken(#fff, 10%);
      }
    }
  }

  &-content{
    display: flex;
    width: 1000px;
    height: 505px;
    padding: 10px;
    background: #fff;
  }

  &-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    font-size: 0;
    overflow: hidden;
  }

  &-right{
    flex: 0 0 300px;
    border: 1px solid $colorBorder;

    input[type='checkbox']{
      margin-right: 5px;
      vertical-align: middle;
    }
  }

  &-foot{
    padding: 10px 0 20px;
    background: #fff;
    border-radius: 0 0 5px 5px;
  }

  &-btn{
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    background: #6fb5e9;
    color: #fff;
    font-size: 14px;
    border: 1px solid #6fb5e9;
    border-radius: 5px;
  }

  &-recive{
    flex: 0 0 40px;
    margin-bottom: 10px;
    padding: 10px 15px;
    color: #bbb;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid $colorBorder;
    overflow-y: auto;
  }

  &-msg{
    flex: 1;
    width: 100%;
    padding: 15px 20px;
    color: #999;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid $colorBorder;
    resize: none;
    box-sizing: border-box;
  }

  &-msg-bottom{
    flex: 0 0 34px;
    position: relative;
    background: #a6cce8;
    color: #fff;
    font-size: 14px;
    line-height: 34px;
    text-align: right;

    &:before{
      content: '';
      float: left;
      position: absolute;
      top: 8px;
      left: 10px;
      width: 15px;
      height: 15px;
      margin-right: 5px;
      border: 2px solid #fff;
      border-radius: 50%;
    }
  }

  &-tmpl-toggle{
    float: left;
    position: relative;
    left: 10px;
    padding-left: 25px;
    cursor: pointer;

    &:before,
    &:after{
      content: '';
      position: absolute;
      left: 5px;
      top: 17px;
      width: 9px;
      height: 2px;
      background: #fff;
      transition: .3s;
    }

    &.active:after{
      transform: rotate(90deg);
    }
  }

  &-count{

    &.alert{
      color: #f00;
    }
  }

  &-tmpl-btn{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    padding: 0 15px;
    background: #ffa800;
    color: #fff;
    cursor: pointer;

    &:hover{
      .message-tmpl-type-list{
        display: block;
      }
    }
  }

  &-tmpl-type-list{
    position: absolute;
    left: 0;
    bottom: 34px;
    width: 100%;
    background: #fff;
    color: #ffa800;
    border: 1px solid #ffa800;
    text-align: center;
    z-index: 10;
    display: none;
    box-sizing: border-box;
  }

  &-tmpl-type-item{
    &:hover{
      background: #ffa800;
      color: #fff;
    }
  }

  &-tmpl-wrap{
    height: 0;
    font-size: 12px;
    border: 1px solid $colorBorder;
    box-sizing: border-box;
    transition: .3s;

    &.show{
      height: 315px;
    }
  }

  &-tmpl-top{
    height: 30px;
    background: #f8fcff;
    color: #bbb;
    font-size: 13px;
    line-height: 30px;
    text-indent: 10px;
    border-bottom: 1px solid $colorBorder;
    box-sizing: border-box;
  }

  &-tmpl-tab-wrap{
    position: relative;
    float: right;
    right: 20px;
  }

  &-tmpl-tab{
    margin-left: 5px;
    cursor: pointer;
  }

  &-tmpl-list{
    position: relative;
    height: 285px;
    overflow-y: auto;
    @include clearfix;
  }

  &-tmpl-title-placeholder{
    float: left;
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
  }

  &-tmpl-title{
    width: 100%;
    height: 20px;
    background: #eee;
    color: #999;
    line-height: 20px;
    text-indent: 10px;

    &.sticky{
      position: absolute;
      left: 0;
      z-index: 1;
    }
  }

  &-tmpl-item{
    position: relative;
    float: left;
    width: 30%;
    height: 120px;
    margin-left: 2.5%;
    margin-bottom: 15px;
    color: #999;
    line-height: 1.5;
    border: 1px dashed #ccc;
    box-sizing: border-box;
    cursor: pointer;

    &:hover{
      border-color: #96d8fd;

      .message-tmpl-del{
        visibility: visible;
        opacity: 1;
      }
    }

    &.active{
      border-color: #96d8fd;
    }
  }

  &-tmpl-del{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    color: #96d8fd;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
  }

  &-tmpl-content{
    height: 75px;
    padding: 20px;
    overflow: hidden;
  }

  &-rt{
    height: 45px;
    color: #aaa;
    font-size: 15px;
    line-height: 45px;
    text-indent: 15px;
    border-bottom: 1px solid $colorBorder;
  }

  &-search{
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid $colorBorder;

    &-input{
      display: block;
      width: 240px;
      margin: 0 auto;
      padding: 5px 25px 5px 0;
      color: #aaa;
      font-size: 12px;
      text-indent: 15px;
      border: 1px solid #e7e7e7;
      border-radius: 5px;
    }

    &-icon{
      position: absolute;
      width: 15px;
      height: 15px;
      top: 15px;
      right: 25px;
      background: url(images/search-grey.png?__inline);
    }

    &-list{
      position: absolute;
      left: 17px;
      width: 267px;
      background: #fff;
      line-height: 1.5;
      border: 1px solid $colorBorder;
      border-radius: 5px;
      box-sizing: border-box;
      z-index: 100;
      display: none;

      &.show{
        display: block;
      }
    }

    &-item{
      padding: 3px 10px;
      color: #999;
      font-size: 12px;
      cursor: pointer;

      &:hover{
        background: #efecd2;
      }

      label{
        display: block;
      }
    }
  }

  &-ct{
    height: 35px;
    padding: 0 20px;
    background: #f6f6f6;
    color: #999;
    font-size: 13px;
    line-height: 35px;
  }

  &-car-list{
    position: relative;
    height: 374px;
    color: #bbb;
    font-size: 13px;
    overflow-y: auto;

    &.loading{
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255, 255, 255, .5);
        z-index: 10;
      }

      &:after{
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -25px;
        border: 5px solid #43aad8;
        border-left-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
        animation: loadingRound .6s infinite linear;
      }
    }
  }

  &-car-item{
  }

  &-sub-title{
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    border-bottom: 1px solid #eee;

    &:after{
      content: attr(data-number);
      float: right;
      width: 30px;
      color: #6fb5e9;
      text-align: center;
    }
  }

  &-toggle{
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    top: -8px;
    margin-right: 10px;
    background: url(images/plus.png?__inline);
    cursor: pointer;

    &.active{
      top: -7px;
      background: url(images/minus.png?__inline);
    }
  }

  &-sub-comp{
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-sub-list{
    display: none;

    &.active{
      display: block;
    }
  }

  &-sub-item{
    height: 30px;
    padding-left: 60px;
    line-height: 30px;
    border-bottom: 1px solid #eee;
  }

  &-result-wrap{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .2);
    z-index: 1000;
    display: none;

    &.show{
      display: block;
    }
  }

  &-result{
    position: absolute;
    width: 640px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -320px;
    background: #fff;
    box-shadow: 0 0 5px 1px #999;
  }

  &-result-title{
    height: 40px;
    color: #666;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    text-indent: 20px;
    border-bottom: 1px solid $colorBorder;
    box-sizing: border-box;
  }

  &-result-body{
    width: 600px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
  }

  &-result-num{
    float: left;
    width: 200px;
    font-size: 40px;
    font-weight: bold;

    &:after{
      position: relative;
      top: -3px;
      margin-left: 5px;
      font-size: 16px;
    }

    &:nth-child(1){
      color: #3da3dc;

      &:after{
        content: '剩余';
      }
    }

    &:nth-child(2){
      color: #6ea700;

      &:after{
        content: '成功';
      }
    }

    &:nth-child(3){
      color: #ff1d1d;

      &:after{
        content: '失败';
      }
    }
  }

  &-result-progress{
    width: 600px;
    height: 40px;
    margin: 0 auto;
    padding: 5px 0;
    box-sizing: border-box;

    &-wrap{
      height: 30px;
      padding: 2px;
      border: 3px solid #3da3dc;
      border-radius: 30px;
      box-sizing: border-box;
    }

    &-bar{
      width: 0%;
      height: 20px;
      padding: 0 10px;
      background: #3da3dc;
      color: #fff;
      border-radius: 20px;
      box-sizing: border-box;
      transition: .3s;
    }
  }

  &-result-simple{
    &:before{
      content: '';
      display: inline-block;
      width: 46px;
      height: 46px;
      margin-right: 15px;
      background: url(images/success.png?__inline);
      vertical-align: middle;
    }
  }

  &-result-foot{
    height: 60px;
    text-align: center;
    line-height: 60px;
    box-sizing: border-box;
  }

  &-result-btn{
    display: inline-block;
    width: 110px;
    height: 34px;
    margin: 0 10px;
    background: #ccc;
    color: #fff;
    line-height: 34px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    cursor: pointer;

    &.active{
      background: #8ac0de;
    }
  }
}