<div class="message-wrap" data-no="${vehicleNumber}">
  <div class="message-container">
    <div class="message-head">
      <p class="message-head-title">发送报文</p>
      <span class="message-head-close">+</span>
    </div>
    <div class="message-content">
      <div class="message-left">
        <div class="message-recive"></div>
        <textarea class="message-msg"></textarea>
        <div class="message-msg-bottom">
          <span class="message-tmpl-toggle active">使用模板</span>
          还可以输入<span class="message-count">{{wordlimit}}</span>字
          <ul class="message-tmpl-btn">
            <li>
              <p>保存为模板</p>
              <ul class="message-tmpl-type-list">
                <li class="message-tmpl-type-item" data-type="1">通知</li>
                <li class="message-tmpl-type-item" data-type="2">公告</li>
                <li class="message-tmpl-type-item" data-type="3">提醒</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="message-tmpl-wrap">
          <div class="message-tmpl-top">
            所有模板
            <div class="message-tmpl-tab-wrap">
              <span class="message-tmpl-tab" data-index="0">通知</span>
              <span class="message-tmpl-tab" data-index="1">公告</span>
              <span class="message-tmpl-tab" data-index="2">提醒</span>
            </div>
          </div>
          <dl class="message-tmpl-list"><!--待插入--></dl>
        </div>
      </div>
      <div class="message-right">
        <p class="message-rt">通讯录</p>
        <div class="message-search">
          <input class="message-search-input" type="text" placeholder="可输入车牌号" maxlength="4">
          <span class="message-search-icon"></span>
          <ul class="message-search-list"><!--待插入--></ul>
        </div>
        <p class="message-ct">
          <label><input class="message-select-all" type="checkbox">全选</label>
          <span>&emsp;&emsp;&emsp;&emsp;公司&emsp;&emsp;</span>
          <span>&emsp;&emsp;&emsp;车辆数目</span>
        </p>
        <ul class="message-car-list"><!--待插入--></ul>
      </div>
    </div>
    <div class="message-foot">
      <button class="message-btn" type="button">发&emsp;送</button>
    </div>
  </div>
</div>