<div class="message-result-wrap">
  <div class="message-result">
    <div class="message-result-body">
      <span class="message-result-num rest">0</span>
      <span class="message-result-num success">0</span>
      <span class="message-result-num fail">0</span>
    </div>
    <div class="message-result-progress">
      <div class="message-result-progress-wrap">
        <div class="message-result-progress-bar"></div>
      </div>
    </div>
    <div class="message-result-foot">
      <a class="message-result-btn close">关&emsp;闭</a>
      <a class="message-result-btn detail">查看详情</a>
    </div>
  </div>
</div>