.ui-search{
    position: relative;

    $color: #42a9e2;
    $height: 36px;
    $btnWidth: 65px;

    &-input{
        width: 100%;
        height: $height;
        padding-right: $btnWidth;
        color: #bbb;
        text-indent: 10px;
        line-height: $height;
        border: 1px solid $color;
        border-radius: 5px;
        outline: none;
        box-sizing: border-box;
    }

    &-btn{
        position: absolute;
        top: 50%;
        right: 0;
        width: $btnWidth;
        height: $height;
        margin-top: -$height / 2;
        padding: 0;
        background: url(search.png?__inline) no-repeat center $color;
        outline: 0;
        border: 0;
        border-radius: 5px;
    }
}